[user]
  name = Dave Powers
  email = djpowers89@gmail.com
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[core]
  excludesfile = ~/.gitignore_global
  hooksPath = ~/.githooks/
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[push]
  default = current
[pull]
  ff = only
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  sw = switch
  log-tree = log --graph --pretty=format:\"%C(auto)%h %d %s %Cblue<%an> %C(magenta)(%ar)\" --abbrev-commit
  clean-tags = !git tag -l | xargs git tag -d && git fetch --tags
  churn = !"f() { \
          git log \
          --all \
          --find-copies \
          --find-renames \
          --name-only \
          --format='format:' \
          \"$@\" | \
          awk 'NF{a[$0]++}END{for(i in a){print a[i], i}}' | \
          sort -n; \
          };f"
