#!/bin/sh
commit_msg=$(cat "$1")
pattern="^(feat|fix|docs|style|refactor|test|chore)\: .+$"

if ! echo "$commit_msg" | grep -qE "$pattern"; then
  echo "Invalid commit message. Use Conventional Commits (e.g., 'feat: add login button')"
  exit 1
fi
